.table {
    border-collapse: collapse;
    width: 100%;
}
  
.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.aboutus-timeline h5{
    @apply font-semibold
}
.aboutus-timeline ul{
    @apply ml-4
}
.aboutus-timeline div{
    @apply mt-4;
}
.pad{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.pad:disabled{
    border: none;
}
.radiopay button{
    @apply hidden;
}
.radiopay:has(input:checked){
    @apply  bg-brand-2 text-white;
}
.radiopay{
    @apply border border-transparent hover:border-brand-2 hover:cursor-pointer transition-colors;
}
.news img, .news svg {
    display: inline !important;
 }
 .news{
    line-height: 1.5715;
    font-size: 14px;
 }
 .news a{
    color: #1876F2;
 }
 .news p {
    margin-bottom: 1em;
    margin-top: 0;
}
.news ul {
    list-style-type: disc;
}